{% extends 'AppBundle::gral.html.twig' %}
 {% block titleMainContent %}{{ title }}{% endblock %}
{% block btnTitle %}
    {% if mode=='admin' %}
        <button type="button" class="btn btn-border btn-success pull-right" onclick="createForm()" >Crear formulario</button>
    {% endif %}
{% endblock %}
{% block maincontent %}

    {% for form in forms %}
        <div class="form-content">
            <div class="name-form" title="Nombre del formulario">
                {{ form.name|length > 60 ? form.name|slice(0, 60) ~ '...' : form.name  }}
            </div>
            <div class="number-questions-form">
                <label class="inside-title-form">Cantidad de preguntas: {{ form.getNumberQuestions }}</label>
            </div>
            {% if mode=='user' %}
                <div onclick="answerForm({{ form.id }})">responder</div>
                {% elseif mode=='results' %}
                    <div onclick="viewResult({{ form.id }})" class="">
                        <span class="glyphicon glyphicon-eye-open pull-right view-result" aria-hidden="true" ></span>
                    </div>
            {% endif %}
        </div>
    {% else %}
        {% if mode=='admin'%}
            No existe nungún formulario creado.
        {% elseif mode=='user' %}
           Ha respondido todos los formularios.
        {% elseif mode=='results' %}
           No existen resultados con formularios.
        {% endif %}
    {% endfor %}
{% endblock %}
